<nav class="marigold">
    <div class="nav-wrapper">
      <a href="/" class="left logo"><img src="/media/fox-cream.png"/></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if (currentUser) { %>
            <li><a href="/flavors/">Shop</a> </li>
            <li><a href="/flavors/new">Add New Flavor</a> </li>
            <li>Welcome <%= currentUser.username %></li>
            <li><a href="/cart/"><i class="material-icons ">shopping_cart</i></a></li>
            <li>
                <form action="/sessions?_method=DELETE" method="POST">
                    <button class="btn forest">Log out</button>
                </form>
            </li>
        <% } else { %>
            <li><a href="/menu">Menu</a></li>
            <li><a href="/sessions/new">Log In</a></li>
            <li><a href="/users/new">Sign Up</a></li>
        <% } %>   
      </ul>
    </div>
  </nav>