<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <script>
        $(document).ready(function(){
            $('.carousel').carousel({
                numVisible: 3,
                dist: 0,
                indicators: true,
                padding: 200   
            });
            setInterval(()=>{
                $('.carousel').carousel('next');
                }, 5500);
        })
    </script>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="section rose">
        <img class="home-logo" src="/media/logo_main_cream.png" alt="little fox cups and cones">
    </div>
    <div class="section greeting forest">
            <p> oh hey there! welcome to our lil’ window. our mission at little fox is to bring creative, out of the box icecream to our community that is still familiar and nostalgic. check us out! we think we're pretty neat.</p>
    </div>
    <div class="carousel">
        <img class="carousel-item" src="https://i.imgur.com/TCdVfbD.jpg">
        <img class="carousel-item" src="https://i.imgur.com/1d6i8r8.jpg">
        <img class="carousel-item" src="https://i.imgur.com/NKTVlpe.jpg">
        <img class="carousel-item" src="https://i.imgur.com/oVnW7MQ.jpg">
        <img class="carousel-item" src="https://i.imgur.com/T81xMXx.jpg">
        <img class="carousel-item" src="https://i.imgur.com/Nu2l3Ua.jpg">
        <img class="carousel-item" src="https://i.imgur.com/0afBknn.jpg">
        <img class="carousel-item" src="https://i.imgur.com/QxniBhr.jpg">
        <img class="carousel-item" src="https://i.imgur.com/ujdvrEO.jpg">
        <img class="carousel-item" src="https://i.imgur.com/6EB8Rg7.jpg">
        <img class="carousel-item" src="https://i.imgur.com/Z1GFzru.jpg">
        <img class="carousel-item" src="https://i.imgur.com/JyYQs6i.jpg">
        <img class="carousel-item" src="https://i.imgur.com/CQrXmMI.jpg">
        <img class="carousel-item" src="https://i.imgur.com/MwV7kdC.jpg">
        <img class="carousel-item" src="https://i.imgur.com/XqujX8B.jpg">
        <img class="carousel-item" src="https://i.imgur.com/OPpqITP.jpg">
        <img class="carousel-item" src="https://i.imgur.com/3OSpx7Z.jpg">
        <img class="carousel-item" src="https://i.imgur.com/8g4GNBC.jpg">
        <img class="carousel-item" src="https://i.imgur.com/tspYdif.jpg">
    </div> 

    <div class="row rose about">
        <div class="section">
            <h2>Find Us!</h2>
        </div>
        <div class="col offset-m3 m3">
            <h3>Hours</h3>
            <p>Sat & Sun: 12PM to 8PM</p>
            <p>(or until we run out of icecream!)</p>
            <p>M-F: Closed</p>
        </div>
        <div class="col m3">
            <h3>Location</h3>
            <p>1114 N Coast Hwy 101 Suite 4</p>
            <p>Encinitas, CA</p>
            <p>92024</p>
            <p>(Attached to Threadspun)</p>
        </div>
    </div>
</body>
          