<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="section">
        <img class="home-logo" src="/media/logo_main_rose.png" alt="little fox cups and cones">
    </div>
    <div class="section greeting forest">
        <p> oh hey there! welcome to our lil’ window. we are pretty excited you are
            here + can’t wait for you to taste what we’re all about. we bet you are at
            the very least, going to like it at a lil’ bit!!</p>
    </div>