<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <script>
          $(document).ready(function(){
                $('select').formSelect();
            });
    </script>
</head>
<body class="form-body">
    <%- include('./partials/nav.ejs') %>
    <div class="form-container">
      <div class="section">
          <h1 class="form-title">CREATE NEW FLAVOR</h1>
      </div>
      <div class="section">
          <div class="container">
              <div class="row">
                  <form class="col m12" action="/flavors/" enctype="multipart/form-data" method="POST">
                      <div class="input-field col m12">
                        <input id="flavor" name="flavor" type="text" class="validate">
                        <label for="flavor">Flavor</label>
                      </div>
                      <div class="input-field col m12">
                          <textarea name="description" id="description" class="materialize-textarea"></textarea>
                          <label for="description">description</label>
                      </div>
                      <div class="input-field col m12">
                          <input id="price" name="price" type="number" step="any" class="validate">
                          <label for="price">Price</label>
                      </div>
                      <p>
                          <label>
                              <input type="checkbox" id="glutenFree" name="glutenFree" class="filled-in" />
                              <span>Gluten Free</span>
                          </label>
                      </p>
                      <p>
                          <label>
                              <input type="checkbox" id="plantBased" name="plantBased" class="filled-in" />
                              <span>Plant-Based Option</span>
                          </label>
                      </p>
                      <div class="input-field col s12">
                          <select name="allergens" multiple>
                            <option value="" disabled >Choose your option</option>
                            <option value="dairy">Dairy</option>
                            <option value="peanuts">Peanuts</option>
                            <option value="treenuts">Tree Nuts</option>
                          </select>
                          <label>Allergens</label>
                        </div>
                        <div class="file-field input-field">
                          <div class="btn">
                            <span>Image</span>
                            <input id="img" name="img" type="file">
                          </div>
                          <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                          </div>
                        </div>
                      <input class="forest button btn" type="submit" value="Create New Flavor">
                  </form>
                </div>  
          </div>  
      </div>    
    </div>
</body>
</html>