<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <% if (message) { %>
        <script>  
            $(document).ready(function(){
                $('#modal1').modal();
                $('#modal1').modal('open');
            });
        </script>
    <% } else {%>
        <script>  
            $(document).ready(function(){
                $('#modal1').modal();
            });
        </script>
    <% } %>
</head>
<body class="form-body">
    <%- include('../partials/nav.ejs') %>
    <div class="form-container">
        <div class="section">
            <h1 class="form-title">LOGIN</h1>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <form class="col m12" action="/sessions/" method="POST">

                        <div class="input-field col m12">
                        <input id="username" name="username" type="text" class="validate">
                        <label for="username">Username</label>
                        </div>

                        <div class="input-field col m12">
                            <input id="password" name="password" type="password" required=true class="validate">
                            <label for="password">Password</label>
                        </div>

                        <input class="forest button btn" type="submit" value="Login">
                    </form>
                </div>  
            </div>      
        </div>
    </div>
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4><i class="material-icons small">warning</i> Error!</h4>
            <p><%=message%></p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>
</body>
</html>