<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <script>
          $(document).ready(function(){
                $('select').formSelect();
            });
    </script>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <div class="section">
        <h1>LOGIN</h1>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <form class="col m12" action="/sessions/" method="POST">

                    <div class="input-field col m12">
                      <input id="username" name="username" type="text" class="validate">
                      <label for="username">Username</label>
                    </div>

                    <div class="input-field col m12">
                        <input id="password" name="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>

                    <input class="forest button" type="submit" value="Login">
                </form>
              </div>  
        </div>      
    </div>
</body>
</html>